h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

body {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 500;
}

p {
  color: #8f8f8f;
}

.top-btns {
  margin-top: 2.5rem;
  margin-left: 4px;
  margin-right: 12px;
}

.navbar {
  margin-bottom: 4.5rem;
}

.navbar-brand {
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-nav {
  padding-right: 150px;
}

.nav-item {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  margin-right: 10%;
}

.nav-link {
  font-family: 'Montserrat-Light';
}

#title.container-fluid {
  padding: 2% 17% 10% 17%;
}

.container-fluid {
  padding: 3% 17% 10% 17%;
}

.features-box {
  padding: 13% 17% 7% 17%;
}

.phone-img {
  width: 58%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%
}

.img-div {
  position: relative;
}

.h3-desc {
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: bold;
}

.dog-ds {
  font-size: 1.1rem;
  margin-bottom: 100px;
  color: #8f8f8f;
}

.fa-3x {
  color: #ef8172;
}

.fa-3x:hover {
  color: #ff4c68;
}

.box {
  padding: 5%;
}

#features {
  text-align: center;
  padding: 5% 15%;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

#title {
  background-color: #ff4c68;
}

#testimonials {
  padding-top: 140px;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  padding: 1%;
  background-color: #ef8172;
  text-align: center;
}

#pricing {
  text-align: center;
  padding: 6%;
}

#cta {
  text-align: center;
  color: #fff;
  background-color: #ff4c68;
  margin-top: 2%;
  padding: 10% 20%;
}

#footer {
  background-color: #fff;
  padding: 10% 5% 0 5%;
  text-align: center;
}

.tes-ds {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7rem;
  line-height: 3rem;
}

.dog-img {
  margin: 1.5rem;
  width: 10%;
  border-radius: 100%;
}

.press-img {
  margin: 3%;
  width: 10%;
}

.carousel-item {
  padding: 3% 17%;
}

.dog-card {
  padding: 2%;
}

.pshdwn-btn {
  margin-top: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.0rem;
  line-height: 3rem;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .phone-img {
    position: static;
    transform: rotate(0);
  }
}

.end-desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
}

.closing-statement {
  font-size: 1.3rem;
}

.twitter {
  margin-right: 10px;
}

.facebook {
  margin-right: 10px;
}

.email {
  margin-left: 10px;
}
